<div>
  <div>{{showAction}}</div>
  <div>{{display}}</div>
  <button type="button" (click)="clickOn('7')">7</button>
  <button type="button" (click)="clickOn('8')">8</button>
  <button type="button" (click)="clickOn('9')">9</button>
  <button type="button" (click)="addition()">+</button>
  <br>
  <button type="button" (click)="clickOn('4')">4</button>
  <button type="button" (click)="clickOn('5')">5</button>
  <button type="button" (click)="clickOn('6')">6</button>
  <button type="button" (click)="subtraction()">-</button>
  <br>
  <button type="button" (click)="clickOn('1')">1</button>
  <button type="button" (click)="clickOn('2')">2</button>
  <button type="button" (click)="clickOn('3')">3</button>
  <button type="button" (click)="division()">/</button>
  <br>
  <button type="button" (click)="clickOn('.')">.</button>
  <button type="button" (click)="clickOn('0')">0</button>
  <button type="button" (click)="calculateResults()">=</button>
  <button type="button" (click)="multiplication()">*</button>  
  <br>
  <button type="button" (click)="clickOnClear()">Clear</button> 
  
</div>